.header {
  width: 100%;
  position: absolute;
  z-index: 2;
  margin-top: 40px;

  &__container {
    display: flex;
    align-items: center;
  }

  &__logo {
    margin-right: 64px;
  }

  &__link {
    margin-left: auto;
  }

  &__btn {
    display: none;
    margin-left: auto;
    width: 28px;
    height: 17px;
    border: none;
    background: none;
    background-image: url('../img/toggle-open.svg');
  }
}

.navbar {
  &__list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__link {
    font-family: 'Public Sans';
    margin-right: 40px;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    text-decoration: none;
    color: #36536B;
    opacity: 0.7;

    &:active {
      opacity: 1;
    }
  }
}

.menu {
  display: none;
}

@media only screen and (max-width: 768px) {
  .header {
  
    &__link {
      display: none;
    }

    &__btn {
      display: block;
    }
  }

  .navbar {
    display: none;
  }

  .menu {
    padding: 48px 24px;
    width: 85%;
    height: 150vh;
    position: absolute;
    z-index: 1;
    display: none;
    flex-direction: column;
    top: -40px;
    right: 0;
    background-color: #1B262F;

    &__btn {
      margin-bottom: 24px;
      margin-left: auto;
      width: 22px;
      height: 23px;
      border: none;
      background: none;
      background-image: url('../img/toggle-close.svg');
    }

    &__line {
      width: 100%;
      border: none;
      height: 1px;
      background-color: #FBFCFE;
      opacity: 0.15;
    }
  }

  .menu-open {
    display: flex;
  }
}
