.simple {

    background-image: url(../img/circle.png);
    background-repeat: no-repeat;
    background-position: top 0 right calc(50% - 690px);

    &__container {
        padding-top: 350px;
        padding-bottom: 350px;
        background-image: url(../img/two-iphone.png);
        background-repeat: no-repeat;
        background-size: 566px;
        background-position: top 160px right calc(50% - 260px) ;
    }

   &__title {
        margin: 0;
        font-family: 'DM Serif Display';
        font-weight: normal;
        font-size: 48px;
        line-height: 56px;
        letter-spacing: -0.369231px;
        color: #36536B;
   }

   &__text {
       margin: 0;
       font-family: 'Public Sans';
       font-weight: normal;
       font-size: 15px;
       line-height: 28px;
       color: #6C8294;
       width: 445px;
   }
}

@media only screen and (max-width:768px) {
    .simple {

        background-image: none;

    &__container {
        padding-top: 468px;
        padding-bottom: 100px;
        background-image: url(../img/two-iphone.png);
        background-repeat: no-repeat;
        background-size: 500px;
        background-position: top -25px right calc(50% - 15px) ;
    }

    &__title {
        font-size: 48px;
        line-height: 56px;
        text-align: center;
        letter-spacing: -0.369231px;
        color: #36536B;
    }

    &__text {
        font-size: 15px;
        line-height: 28px;
        text-align: center;
        margin: 0 auto;
        margin-top: 24px;
    }

    }
}

@media only screen and (max-width:478px) {
    
    .simple {

        &__container {
            padding-top: 300px;
            padding-bottom: 100px;
            background-image: url(../img/two-iphone.png);
            background-repeat: no-repeat;
            background-size: 341px;
            background-position: top -25px right calc(50% - 15px) ;
        }
    
        &__title {
            font-size: 36px;
        }
    
        &__text {
            font-size: 15px;
            margin: 0 auto;
            margin-top: 24px;
            max-width: 268px;
        }

    }

}